<div class="text-center">
  <h1>{{user.name}}</h1>
  <p>{{text.Chat}}</p>
  <p>Sent by {{user.name}}</p>
  <p>
    <span for="img" aria-label="chat-box">insert the chat img</span>
  </p>
  <p>
    <button class="btn btn-primary">Send</button>
  </p>
</div>
