<div class="text-center">
  <h1>{{user.name}}</h1>
  <p>{{text.Chat}}</p>
  <p>Sent by {{user.name}}</p>
  <div
      id="chat-container"
      class="bg-light border border-dark rounded p-5"
    ></div>
    <form id="send-msg" class="bg-light border border-dark rounded p-1">
      <input type="text" id="msg-input" />
      <button type="submit" id="send-btn" class="bg-light shadow p-1 mb-2 rounded">Send</button>
    </form>
</div>
