<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Chatea</h3>

    <form class="add-new-user">
      <div class="form-group">
        <label for="user-name">Username</label>
        <input class="form-input" type="text" id="user-name" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>

  {{#if user.name}}
  <div class="friend-list">
    <h3>Your Friend List</h3>

    {{#each users as |user|}}
      <div class="delete-user">
        <h4><a href="/user/{{user.name}}</a></h4>
        <button class="remove-user" data-id="{{user.name}}">DELETE</button>
      </div>
  </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
