
  <div class="greet">
    <h2>Welcome, {{username}},  Lets Chat!</h2>
  </div>

    <form class="add-new-user">
      <div class="form-group">
        <label for="user-name">Search User</label>
        <input class="form-input" type="text" id="user-name" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
    
      <div class="user-list">
        <h1>Your Friend List</h1>  
        {{#each user.list as |user|}}
    <h2>{{user}}</h2>
        {{/each}}
      </div>
  </div>
    
  </div>
  {{/if}}
</div>

<script src="/public/js/profile.js"></script>

{{> chatbox}}




