
  <div class="greet">
    <h2>Welcome, Lets Chat!</h2>
  </div>

    <form class="add-new-user">
      <div class="search-form">
        <label for="user-name">Search User</label>
        <input class="form-input" type="text" id="user-name" />
      </div>
      <div class="search-form">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    
      <div class="user-list">
        <h1>Your Friend List</h1>  
        {{#each users as |user|}}
    <h2>{{user.firstName}}</h2>
        {{/each}}
      </div>

<script src="/js/profile.js"></script>

{{> chatbox}}
