
.form-group {
    color: black;
    margin: 5px;
    position: relative;
    height: 10%;
    top: 60px;
}

 .col-md-6 {
    position: relative;
    top: 200px;
    left: 60px;
 }

 .user-list {
    position: relative;
    top: 120px;
    left: 50px;
    
 }

 #chat-container {
    width: 70%;
    position: fixed;
    bottom: 220px;
    left: 400px;
    height: 50%;
 }
 
 #send-btn{
    position: fixed;
    left: 454px;
    right: 40px;
    bottom: 159px;
    width: 100px;
    border: none;
 }

 #send-msg {
   position: fixed;
   top: 600px;
   left: 450px;
   width: 500px;
 }

 .user-list h1 {
   font-size: 30px;
   text-decoration: underline;
   
 }
