
.form-group {
    color: black;
    margin: 5px;
    position: relative;
    height: 10%;
    top: 60px;
}

 .col-md-6 {
    position: relative;
    top: 200px;
    left: 60px;
 }

 .user-list {
    position: fixed;
    top: 60px;
    left: 25px;
 }

 .search-form {
    position: relative;
    top: 210px;
    left: 25px;

 }

 #chat-container {
    width: 70%;
    position: relative;
    left: 400px;
    height: 90%;
 }
 
 #send-btn{
    position: relative;
    left: 40px;
    right: 40px;
 }

